/* .billing-admin-container { */
/*   border-radius: 10px; */
/*   padding: 20px; */
/*   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
/*   max-width: 400px; */
/*   width: 100%; */
/* } */
/**/
/* h1 { */
/*   font-size: 1.5rem; */
/*   margin-bottom: 1rem; */
/* } */
/**/
/* .bill-details { */
/*   position: relative; */
/* } */
/**/
/* .edit-icon, */
/* .view-icon { */
/*   position: absolute; */
/*   top: 0; */
/*   right: 0; */
/*   cursor: pointer; */
/*   font-size: 1.5rem; */
/*   color: #007bff; */
/* } */
/**/
/* .view-mode, */
/* .edit-mode { */
/*   display: none; */
/* } */
/**/
/* #toggle-edit:not(:checked) ~ .bill-details .view-mode { */
/*   display: block; */
/* } */
/**/
/* #toggle-edit:checked ~ .bill-details .edit-mode { */
/*   display: block; */
/* } */
/**/
/* form label { */
/*   display: block; */
/*   margin-bottom: 10px; */
/* } */
/**/
/* form input { */
/*   width: 100%; */
/*   padding: 5px; */
/*   margin-top: 5px; */
/*   border: 1px solid #ddd; */
/*   border-radius: 5px; */
/* } */

main h1 {
  margin-bottom: 20px;
}

h4 {
  font-weight: normal;
}

.invoice-container {
  max-width: 750px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 9px 18px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 9px 18px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 18px -5px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
}

.generate-invoice {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.invoice-button {
  padding: 10px;
  width: 100%;
  background-color: blue;
  color: white;
  gap: 5px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  border-color: darkgrey;
  font-weight: normal;
}

.invoice-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(169, 169, 169, 0.55);
}

.invoice-button:focus {
}
